{{ define "main" }}
	<main>
        <div class="bio">  
			<h2>Hello!</h2>
            <p>I'm a data scientist based in Chicago, currently studying in the applied data science master's program at UChicago. <p>
			</p>I spend a lot of time thinking about car dependency in the U.S. and how investments in active and public transport can improve our cities. I'm also a sports fanatic, and love applying my quantative background to better understand sports at all levels.</p>
				<p>You can find some projects I've worked on below!</p>
        </div>
		{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
		{{ range $paginator.Pages }}
			{{ .Render "summary" }}
		{{ end }}
		{{ partial "pagination.html" . }}
	</main>
{{ end }}
